<div class="searchBox">
    <h6>Search in youtube</h6>
    <input type="text" id="search_criteria" class="span8" placeholder="video title, name, description" />
    <input type="button" value="clear" class="btn" id="clear_btn" />
    <div class="search_results"></div>
    <div class="error_search_results"></div>
</div>