body {
    padding-top: 60px;
    padding-bottom: 40px;
}
      
.video-block {
    margin-right: 10px;
}

#videos {
    margin: 20px;
}

#search_box {
    width:300px;
}

.searchBox {
    background: #ddd;
    width: 300px;
    height: auto !important;
    max-height: 600px;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
    border-radius: 6px 6px 6px 6px;
    cursor: move;
    border: 3px solid #CCC;
}

.item_found {
    clear: both;
    margin-top: 35px;
}

.item_found img {
    float: left;
    margin-right: 10px;
}

.item_found h6 {
    font-size: 14px;
}

.item_found p {
    font-size: 12px;
    line-height: 13px;
}

.overlay {
    background-color:#CCC;
    opacity: 0.5;
}

.player_holder {
    display:none;
    background-color: #333;
    z-index: 1000;
    position: absolute;
}