<a href="javascript:;" class="btn btn-mini" style="float: right;"><i class="icon-remove-circle closePlayer"></i></a>
<h3><%= title %></h3>
<iframe width="530" height="410" src="http://www.youtube.com/embed/<%= id %>" frameborder="0" allowfullscreen></iframe>