<fieldset>
            <div class="input-append">
                <input id="video" name="video" class="span8" type="url" size="16" /><input class="btn" type='submit' value='Create'/>
            </div>
</fieldset>